/*--------------------------------------------------------------
# Responsive Framework CSS

Name: responsive-framework.css
Source URL: https://github.com/JustinResources/responsive-framework.css/blob/master/responsive-framework.css
Description: General CSS breakpoints
Author: Justin Hyde
Author URL: http://www.justinhyde.co.za
License: MIT License | http://www.justinhyde.co.za

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Mobile First
	## Em
	## Pixel
# Target Individual Device Types
# Desktop First
# License

--------------------------------------------------------------*/

/*****************************************************
GENERAL - Mobile First - Em 
*****************************************************/

/* Media queries using em are generally better, since they base the breakpoints off of the font-size set by the browser */

/* Phone Landscape and up */
@media all and (min-width:26em) {	
}/* END - Phone Landscape and up */

/* Tablets Portrait and up */
@media all and (min-width: 40em) {	
}/* END - Tablets Portrait and up */

/* Tablets Landscape and up */
@media all and (min-width: 50em) {	
}/* END - Tablets Landscape and up */

/* Laptops and up */
@media all and (min-width: 65em) {	
}/* END - Laptops and up */

/* Desktops and up */
@media all and (min-width: 99em) {	
}/* END - Desktops and up */

/***************************************************
	GENERAL - Mobile First - Pixel
***************************************************/

/* If you absolutely have to target a specific screen size you can use these pixel sizes */

/* Phones Landscape and up */
@media all and (min-width:400px) {	
}/* END - Phone Landscape and up */

/* Tablets Portrait and up */
@media all and (min-width: 740px) {	
}/* END - Tablets Portrait and up */

/* Tablets Landscape and up */
@media all and (min-width: 800px) {	
}/* END - Tablets Landscape and up */

/* Laptops and up */
@media all and (min-width: 1200px) {	
}/* END - Laptops and up */

/* Desktops and up */
@media all and (min-width: 1500px) {	
}/* END - Desktops and up */

/*****************************************************
	GENERAL - Target individual device types
*****************************************************/

/* Small Phones Portrait only */
@media all and (max-width: 321px) {
}/* END - Small Phones Portrait only */

/* Phones Portrait only */
@media all and (min-width:322px) and (max-width: 399px) {
}/* END - Phones Portrait only */

/* Phones Landscape only */
@media all and (min-width:400px) and (max-width: 739px) {	
}/* END - Phones Landscape only */

/* Tablets Portrait only */
@media all and (min-width: 740px) and (max-width: 799px) {	
}/* END - Tablets Portrait only */

/* Tablets Landscape only */
@media all and (min-width: 800px) and (max-width: 1199px) {	
}/* END - Tablets Landscape only */

/* Desktops only */
@media all and (min-width: 1200px) and (max-width: 1599px) {	
}/* END - Desktops only */

/* Desktops only */
@media all and (min-width: 1600px) {	
}/* END - Desktops only */

/*****************************************************
	GENERAL - Desktop First
*****************************************************/

/* Laptops and down */
@media all and (max-width: 1500px) {	
}/* END - Laptops and down */

/* Tablets Landscape and down */
@media all and (max-width: 1200px) {	
}/* END - Tablets Landscape and down */

/* Tablets Portrait and down */
@media all and (max-width: 800px) {	
}/* END - Tablets Portrait and down */

/* Phones Landscape and down */
@media all and (max-width: 750px) {	
}/* END - Phones Landscape and down */

/* Phones Portrait and down */
@media all and (max-width: 440px) {
}/* END - Phones Portrait and down */

/* Small Phones Portrait and down */
@media all and (max-width: 321px) {
}/* END - Small Phones Portrait and down */

/* License: The MIT License (MIT) - Copyright 2018 Justin Hyde (http://www.justinhyde.co.za) */
