/*--------------------------------------------------------------
# Responsive Framework CSS

Name: responsive-framework.css
Source URL: http://www.justinhyde.co.za/resources
Version: 1.2
Description: General and specific CSS breakpoints
Author: Justin Hyde
Author URL: http://www.justinhyde.co.za
License: MIT License | http://www.justinhyde.co.za

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# General Device Styling
	## Mobile First
		### Em
		### Pixel
	## Target Individual Device Types
	## Desktop First
# Specific Device Styling
	## Phones
		### iPhone 4 and 4S
		### iPhone 5 and 5S
		### iPhone 6
		### iPhone 6+
		### Galaxy S3
		### Galaxy S4
		### Galaxy S5
		### HTC One
	## Tablets
		### iPad Mini
		### iPad 1 and 2
		### iPad 3 and 4
		### Galaxy Tab 10.1
		### Asus Nexus 7
		### Kindle Fire HD 7"
		### Kindle Fire HD 8.9"
	## Laptops & Small Desktops
		### Non-Retina
		### Retina
	## Large Desktops
		### Non-Retina
		### Retina
# License

--------------------------------------------------------------*/

/*###########################################

		   General Device Styling
			   
###########################################*/

/*****************************************************
GENERAL - Mobile First - Em 
*****************************************************/

/* Media queries using em are generally better, since they base the breakpoints off of the font-size set by the browser */

/* Phone Landscape and up */
@media all and (min-width:26em) {	
}/* END - Phone Landscape and up */

/* Tablets Portrait and up */
@media all and (min-width: 40em) {	
}/* END - Tablets Portrait and up */

/* Tablets Landscape and up */
@media all and (min-width: 50em) {	
}/* END - Tablets Landscape and up */

/* Laptops and up */
@media all and (min-width: 65em) {	
}/* END - Laptops and up */

/* Desktops and up */
@media all and (min-width: 99em) {	
}/* END - Desktops and up */

/***************************************************
	GENERAL - Mobile First - Pixel
***************************************************/

/* If you absolutely have to target a specific screen size you can use these pixel sizes */

/* Phones Landscape and up */
@media all and (min-width:400px) {	
}/* END - Phone Landscape and up */

/* Tablets Portrait and up */
@media all and (min-width: 740px) {	
}/* END - Tablets Portrait and up */

/* Tablets Landscape and up */
@media all and (min-width: 800px) {	
}/* END - Tablets Landscape and up */

/* Laptops and up */
@media all and (min-width: 1200px) {	
}/* END - Laptops and up */

/* Desktops and up */
@media all and (min-width: 1500px) {	
}/* END - Desktops and up */

/*****************************************************
	GENERAL - Target individual device types
*****************************************************/

/* Small Phones Portrait only */
@media all and (max-width: 321px) {
}/* END - Small Phones Portrait only */

/* Phones Portrait only */
@media all and (min-width:322px) and (max-width: 399px) {
}/* END - Phones Portrait only */

/* Phones Landscape only */
@media all and (min-width:400px) and (max-width: 739px) {	
}/* END - Phones Landscape only */

/* Tablets Portrait only */
@media all and (min-width: 740px) and (max-width: 799px) {	
}/* END - Tablets Portrait only */

/* Tablets Landscape only */
@media all and (min-width: 800px) and (max-width: 1199px) {	
}/* END - Tablets Landscape only */

/* Desktops only */
@media all and (min-width: 1200px) and (max-width: 1599px) {	
}/* END - Desktops only */

/* Desktops only */
@media all and (min-width: 1600px) {	
}/* END - Desktops only */

/*****************************************************
	GENERAL - Desktop First
*****************************************************/

/* Laptops and down */
@media all and (max-width: 1500px) {	
}/* END - Laptops and down */

/* Tablets Landscape and down */
@media all and (max-width: 1200px) {	
}/* END - Tablets Landscape and down */

/* Tablets Portrait and down */
@media all and (max-width: 800px) {	
}/* END - Tablets Portrait and down */

/* Phones Landscape and down */
@media all and (max-width: 750px) {	
}/* END - Phones Landscape and down */

/* Phones Portrait and down */
@media all and (max-width: 440px) {
}/* END - Phones Portrait and down */

/* Small Phones Portrait and down */
@media all and (max-width: 321px) {
}/* END - Small Phones Portrait and down */

/*###########################################

			Specific Device Styling
			   
###########################################*/

/*****************************************************
	PHONES
******************************************************/

/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
}

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
}

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
}

/* ----------- Galaxy S3 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) {
}

/* Portrait */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) 
  and (orientation: portrait) {
}

/* Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) 
  and (orientation: landscape) {
}

/* ----------- Galaxy S4 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {
}

/* Portrait */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) {
}

/* Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: landscape) {
}

/* ----------- Galaxy S5 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {
}

/* Portrait */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) {
}

/* Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: landscape) {
}

/* ----------- HTC One ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {
}

/* Portrait */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) {
}

/* Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: landscape) {
}

/*************************************************
	TABLETS
*************************************************/

/* ----------- iPad mini ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {
}

/* ----------- iPad 1 and 2 ----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {
}

/* ----------- iPad 3 and 4 ----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {
}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {
}

/* ----------- Galaxy Tab 10.1 ----------- */

/* Portrait and Landscape */
@media 
  (min-device-width: 800px) 
  and (max-device-width: 1280px) {
}

/* Portrait */
@media 
  (max-device-width: 800px) 
  and (orientation: portrait) { 
}

/* Landscape */
@media 
  (max-device-width: 1280px) 
  and (orientation: landscape) { 
}

/* ----------- Asus Nexus 7 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 601px) 
  and (device-height: 906px) 
  and (-webkit-min-device-pixel-ratio: 1.331) 
  and (-webkit-max-device-pixel-ratio: 1.332) {
}

/* Portrait */
@media screen 
  and (device-width: 601px) 
  and (device-height: 906px) 
  and (-webkit-min-device-pixel-ratio: 1.331) 
  and (-webkit-max-device-pixel-ratio: 1.332) 
  and (orientation: portrait) {
}

/* Landscape */
@media screen 
  and (device-width: 601px) 
  and (device-height: 906px) 
  and (-webkit-min-device-pixel-ratio: 1.331) 
  and (-webkit-max-device-pixel-ratio: 1.332) 
  and (orientation: landscape) {
}

/* ----------- Kindle Fire HD 7" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 800px) 
  and (max-device-width: 1280px) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
}

/* Portrait */
@media only screen 
  and (min-device-width: 800px) 
  and (max-device-width: 1280px) 
  and (-webkit-min-device-pixel-ratio: 1.5) 
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 800px) 
  and (max-device-width: 1280px) 
  and (-webkit-min-device-pixel-ratio: 1.5) 
  and (orientation: landscape) {
}

/* ----------- Kindle Fire HD 8.9" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
}

/* Portrait */
@media only screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1.5) 
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1.5) 
  and (orientation: landscape) {
}

/*****************************************************
	LAPTOPS & SMALL DESKTOPS
*****************************************************/

/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
}

/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
}

/*****************************************************
	LARGE DESKTOPS
*****************************************************/

/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
}

/* ----------- Retina Screens ----------- */
@media screen  
  and (min-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
}

/* License: The MIT License (MIT) - Copyright 2018 Justin Hyde (http://www.justinhyde.co.za) */
